body {
  width: 100%;
  background-image: url(./cypher.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

p {
    align-content: center;
    color: lawngreen;
    font-family: Courier New, monospace;
}
