body {
    background-color: black;

}

p {
    align-content: center;
    color: lawngreen;
    font-family: Courier New, monospace;
}

.image {
  width: 100%;
  background-color: red;
  background-image: url(./cypher.jpg);
}
