<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <p id='welcome-msg'>Welcome to the automation stuff web service</p>

    <form role="form" method="post" action="{{ url_for('user') }}">
        <input id='username-input' type="text" name="user_name" placeholder="User Name">
        <input id='user-name-submit-btn' type="submit" value="Submit User"/>
    </form>

    <form role="form" method="post" action="{{ url_for('redpill') }}">
        <input id='redpill-input' type="text" name="redpill_name" placeholder="Name?">
        <input id='redpill-btn' type="submit" value="Take Red Pill"/>
    </form>

</body>
